{% load static from staticfiles %}

<div class="team">
    <div class="hp-title">Advisors and Mentors</div>

    <div class="row">
        <div class="col-md-6">
            {% include 'team/mentors/lorraine.html' %}
        </div>

        <div class="col-md-6">
            {% include 'team/mentors/savraj.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include 'team/mentors/kwame.html' %}
        </div>
        <div class="col-md-6">
            {% include 'team/mentors/stephen.html' %}
        </div>
    </div>
</div>