{% load static from staticfiles %}

<div class="team">
    <div class="hp-title">Meet the team!</div>
    <div class="row">
        <div class="col-md-6">
            {% include 'team/members/linhchi.html' %}
        </div>
        <div class="col-md-6">
            {% include 'team/members/justin.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include 'team/members/jaime.html' %}
        </div>
        <div class="col-md-6">

            {% include 'team/members/angelina.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include 'team/members/lois.html' %}
        </div>
        <div class="col-md-6">
            {% include 'team/members/jonathan.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 center-block"></div>
        <div class="col-md-6 center-block">
            {% include 'team/members/amy.html' %}
        </div>
        <div class="col-md-3 center-block"></div>
    </div>
</div>