{% load i18n %}

{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
    <h1>
        Hello from {{ site_name }}!
    </h1>

    <p>
        You're receiving this e-mail because you or someone else has
        requested a password for your user account at {{ site_domain }}.
        It can be safely ignored if you did not request a password reset.
        Click the link below to reset your password.
    </p>
{% endblocktrans %}

<a href="{{ password_reset_url }}">Reset Your Password</a>


{% if username %}
    {% blocktrans %}
        <p>
            In case you forgot, your username is
            <b>
                {{ username }}
            </b>
            .
        </p>
    {% endblocktrans %}
{% endif %}

{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
    <p>
        Sincerely,
        <br>
        The {{ site_name }} Team
    </p>
{% endblocktrans %}
