{% load staticfiles %}

<img class="img-circle img-responsive center-block"
     src="{% static 'images/face/Amy.jpg' %}" alt="Amy">

<h3 class="profName">Amy Tong</h3>

<h3 class="profTitle">
    <b>Head of Community Outreach</b>
</h3>

<p class="profParagraph">
    Amy is a rising junior at Columbia University majoring in Computer
    Science and Neuroscience & Behavior and minoring in Anthropology. She is
    an active member of Columbia's Office of Multicultural Affairs as well as
    a captain of their back-to-back national champion fencing team.
</p>