{% load staticfiles %}

<img class="img-circle img-responsive center-block"
     src="{% static 'images/face/Angelina.jpg' %}" alt="Angelina">

<h3 class="profName">Angelina Bingei</h3>

<h3 class="profTitle">
    <b>Head of Business Development</b>
</h3>

<p class="profParagraph">
    Angelina is a rising junior studying Information Systems and Marketing in
    the Robert H. Smith School of Business at UMD. She is a pro-bono
    consultant for DC area nonprofits, current vice president for Maryland’s
    bronze chapter of the American Marketing Association, and enjoys long
    distance running in her free time.
</p>