{% load staticfiles %}

<img class="img-circle img-responsive center-block"
     src="{% static 'images/face/Jaime.png' %}" alt="Jaime">

<h3 class="profName">Jaime Orellana</h3>

<h3 class="profTitle">
    <b>Head of Engineering</b>
</h3>

<p class="profParagraph">
    Jaime is a member of the CODE2040 family and holds a passion for
    technology ever since he first laid eyes on a computer. He enjoys
    attending Hackathons, having attended more than six Hackathons in the
    Spring of 2016 and winning various accolades along the way.
</p>
