{% load staticfiles %}

<img class="img-circle img-responsive center-block"
     src="{% static 'images/face/Justin.jpg' %}" alt="Justin">

<h3 class="profName">
    <a href="https://justinchavez.github.io/" target="_blank">Justin Chavez</a>
</h3>

<h3 class="profTitle">
    <b>Co-Founder and Head of Product</b>
</h3>

<p class="profParagraph">
    Justin is an undergraduate student at the University of Maryland
    Baltimore County as part of the Meyerhoff Scholars Program. In his free
    time he attends hackathons, works on a Computer Vision research project,
    and mentors other high school and college students.
</p>