{% load staticfiles %}

<img class="img-circle img-responsive center-block"
     src="{% static 'images/face/Linhchi.jpg' %}" alt="Linhchi">

<h3 class="profName">
    <a href="http://linhchinguyen.com/" target="_blank">Linhchi Nguyen</a>
</h3>

<h3 class="profTitle">
    <b>Co-Founder and Head of Product</b>
</h3>

<p class="profParagraph">
    Linhchi is a second-year student at Princeton University majoring in
    Computer Science with minors in Neuroscience and Statistics and Machine
    Learning. Outside of school she is active in Neuroscience research, being an
    Entrepreneurship Club officer, creating her own creative designs, and
    attending hackathons.
</p>