{% load staticfiles %}

<!-- Bootstrap  -->
<link rel="stylesheet" type="text/css"
      href="{% static 'external/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'external/bootstrap/css/bootstrap-theme.css' %}">

{# Google Font #}
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<!-- Font-Awesome -->
<link rel="stylesheet" type="text/css" href="
{% static 'external/font-awesome/css/font-awesome.css' %}">

<!-- CUSTOM  -->
<link rel="stylesheet" type="text/css"
      href="{% static 'css/main/navbar.css' %}">

<link rel="stylesheet" type="text/css"
      href="{% static 'css/main/main.css' %}">

<link rel="stylesheet" type="text/css"
      href="{% static 'css/main/landing.css' %}">

<link rel="stylesheet" type="text/css"
      href="{% static 'css/main/footer.css' %}">

<link rel="stylesheet" type="text/css"
      href="{% static 'css/main/panels.css' %}">

<link rel="stylesheet" type="text/css"
      href="{% static 'css/main/hackmates.css' %}">

<link rel="stylesheet" type="text/css"
      href="{% static 'compressed/scss/main.min.css' %}">

<link rel="stylesheet" type="text/css"
      href="{% static 'css/main/overwrite_form.css' %}">