{% load static from staticfiles %}


<footer>
    <div class="container">
        <div class="pull-left fnav">
{#            <a href="http://hackerpack.io/team" target="_blank"> Our Team </a>#}
            <p>All Rights Reserved | Copyright by <a href = "http://hackerpack.io" target = "_blank"><span class="hred">Hacker</span><span class="hgreen">Pack</span></a> ©
                2016</p>

        </div>

        <div class="pull-left fnav">
            <ul class="footer-social">

                <li><a href="mailto:gethackerpack@gmail.com">
                    <i class="fa fa-at"></i>
                </a></li>

                <li><a href="https://www.linkedin.com/company/hackerpack" target="_blank">
                    <i class="fa fa-linkedin-square"></i>
                </a></li>

                <li><a href="https://www.facebook.com/hackerpack" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a></li>

                <li><a href="https://twitter.com/gethackerpack" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a></li>

            </ul>
        </div>
    </div>
</footer>
