{% extends 'basic/base.html' %}
{% load static from staticfiles %}
{% load jsonify %}

{% block content %}

    <style>
        #hackteams {
            padding-top: 60px;
        }
    </style>

    {% include 'home/index-logged-in/hackmates-navbar.html' %}
    <script>
        var csrfmiddlewaretoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/hackmates-notifications.js' %}"></script>

    <div class="container" id="hackteams">
        <h1> {{ team.name }} ({{ team.hackathon }})</h1>
    </div>


    <script>
        var STATIC_URL = "{% static '' %}";
        var member_count = 0;
        var hackteamsPanel = document.getElementById("hackteams");

        var member_oldRow = document.createElement('div');
        member_oldRow.className = 'row';

        {% for member in team.members.all %}
            var member_username = '{{ member.username }}';

            var member_first_name = '{{ member.first_name }}';

            var member_imagesrc = STATIC_URL + '../media/{{ member.userprofile.avatar}}';
            var member_hackathons = [];
            var member_languages = [];
            var member_roles = [];

            {% if not member.userprofile.hackathons.all %}
                member_hackathons.push('None yet :(');
            {% else %}
                {% for hackathon in  member.userprofile.hackathons.all%}
                    member_hackathons.push('{{ hackathon }}');
                {% endfor %}
            {% endif %}

            {% if not member.userprofile.languages.all %}
                member_languages.push('None');
            {% else %}
                {% for  language in  member.userprofile.languages.all%}
                    member_languages.push('{{ language }}');
                {% endfor %}
            {% endif %}

            {% if not member.userprofile.roles.all %}
                member_roles.push('Other');
            {% else %}
                {% for  role in  member.userprofile.roles.all%}
                    member_roles.push('{{ role }}');
                {% endfor %}
            {% endif %}

            var member_frameworks = '{{ member.userprofile.frameworks | linebreaksbr }}';
            var member_ideas = '{{ member.userprofile.ideas | linebreaksbr }}';
            var member_about = '{{ member.userprofile.about | linebreaksbr }}';
            var member_city = '{{ member.userprofile.city }}';
            var member_school = '{{ member.userprofile.school }}';
            var member_studies = '{{ member.userprofile.studies }}';

            {% if not member.userprofile.platform_choices %}
                var member_interests = 'None';
            {% else %}
                member_interests = {{ member.userprofile.platform_choices | jsonify }};
            {% endif %}

            var member_fb_link = '{{ member.socialaccount_set.all.0.extra_data.link }}';
            if (member_fb_link) {
                var html_member_fb_link = '<div class = "text-center"><a href="' + member_fb_link + '" target = "_blank"><i class = "fa fa-facebook-square fa-2x"' +
                        '></i></a></div>';

            }
            else {
                html_member_fb_link = '';
            }


            var DOWN_ARROW = "https://s3.amazonaws.com/hack-mates/static/images/down-arrow.png";
            var UP_ARROW = "https://s3.amazonaws.com/hack-mates/static/images/up-arrow.png";

            var html_teammember_frameworks = '<p> <b> Frameworks: </b> ' + member_frameworks + '</p>';
            var html_teammember_ideas = '<p> <b> Hackthon Ideas: </b> ' + member_ideas + '</p>';
            var html_teammember_languages = '<p> <b> Languages: </b> ' + member_languages.toString() + '</p>';
            var html_teammember_roles = '<p> <b> Roles: </b> ' + member_roles.toString() + '</p>';
            var html_teammember_hackathons = '<p> <b> Going to: </b> ' + member_hackathons.toString() + '</p>';
            var html_teammember_about = '<p> <b> About: </b> ' + member_about + '</p>';
            var html_teammember_city = '<p> <b> Location: </b> ' + member_city + '</p>';
            var html_teammember_school = '<p> <b> School: </b> ' + member_school + '</p>';
            var html_teammember_studies = '<p> <b> Studies: </b> ' + member_studies + '</p>';
            var html_teammember_interests = '<p> <b> Interests: </b> ' + member_interests + '</p>';

            var idString = "id=" + member_count;
            var tempString = "<div class='col-md-4'" + ">" +
                    "<div class='panel panel-default panel-cus center-block' onclick='changeArrow(" +
                    member_count + ")'" + idString + ">" +
                    "<div class='custom-panel center-block' data-toggle='collapse'" +
                    "data-target='#team_lower" + member_count + "'>" +
                    "<img src ='" + member_imagesrc + "' class='img-responsive center-block user-image'>" +
                    "<div class = 'carousel-caption'>" + "<h1>" +
                    member_first_name + "</h1>"
                    + '<img src = ' + DOWN_ARROW + ' class="img-responsive center-block arrow-image" id = "arrow'
                    + member_count + '">'
                    + "</div>" + "</div>" +
                    "<div id = 'team_lower" + member_count + "' class = 'collapse' style='padding:15px;'>" +
                    html_member_fb_link + html_teammember_hackathons + html_teammember_school
                    + html_teammember_about + html_teammember_ideas +
                    html_teammember_roles + html_teammember_languages + html_teammember_frameworks +
                    "</div>" + "</div>" + "</div>";

            var teammember_newFeature = document.createElement('div');
            teammember_newFeature.innerHTML = tempString;

            if (member_count % 3 === 0) {
                var teammember_newRow = document.createElement('div');
                teammember_newRow.className = 'row';
                hackteamsPanel.appendChild(teammember_newRow);
                teammember_newRow.appendChild(teammember_newFeature);
                teammember_oldRow = teammember_newRow;
            }
            else {
                teammember_oldRow.appendChild(teammember_newFeature);
            }
            member_count++;

        {% endfor %}


        // Change the arrow direction depending on whether the content is collapsed or not
        function changeArrow(id) {
            var DOWN_ARROW = "https://s3.amazonaws.com/hack-mates/static/images/down-arrow.png";
            var UP_ARROW = "https://s3.amazonaws.com/hack-mates/static/images/up-arrow.png";

            idPanel = String('#team_lower' + id);
            idArrow = String('arrow' + id);

            $(idPanel).on('shown.bs.collapse', function () {
                document.getElementById(idArrow).src = UP_ARROW;
            });
            $(idPanel).on('hide.bs.collapse', function () {
                document.getElementById(idArrow).src = DOWN_ARROW;
            });
        }
    </script>

{% endblock %}