{% load bootstrap %}


<div id="sidebar-wrapper">
    <ul class="sidebar-nav">


        <form action="" method="get" style="margin-top: 10px">

            {{ filter.form | bootstrap }}

            <button class="btn btn-primary big-register sidebar-brand center-block"
                    style="margin-top: 15px; margin-bottom: 15px;"
                    type="submit">

                Filter Hackmates
                <span class="glyphicon glyphicon-arrow-left goBackArrow pull-right"></span>
            </button>

        </form>
    </ul>
</div>

<script>

</script>