{% load staticfiles %}

<img class="img-circle img-responsive center-block"
     src="{% static 'images/mentors/Lorraine.jpg' %}" alt="Lorraine">

<h3 class="profName">Lorraine Marchand</h3>
<h3 class="profTitle">
    <b>Adviser</b>
</h3>
<p class="profParagraph">
    Lorraine is a Columbia Business alum who teaches and advises at the
    Mailman School of Public Health, the Eugene Lang Entrepreneurship Center,
    Rutgers University School of Business, and Princeton University. She has
    also held executive positions at Bristol-Myers Squibb, Covance, and
    Cognizant Technology Solutions.
</p>