{% load staticfiles %}

<img class="img-circle img-responsive center-block"
     src="{% static 'images/mentors/Savraj.jpg' %}" alt="Savraj">

<h3 class="profName">Savraj Singh</h3>
<h3 class="profTitle">
    <b>Mentor</b>
</h3>
<p class="profParagraph">Savraj founded Wattvision, and set up the first
    prototype system at his parents' house. He graduated from Princeton
    University with a degree in CS and spent several years at Microsoft as a
    Program Manager on the Office User Experience Team.
</p>
